// Variables
@import 'variables'

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss'
@import "~bootstrap/scss/input-group"

//import icon
@import '../../public/vendor_components/font-awesome/scss/font-awesome.scss'
@import '../../public/vendor_components/Ionicons/scss/ionicons.scss'
@import '../../public/vendor_components/themify-icons/themify-icons.scss'
@import '../../public/vendor_components/linea-icons/linea.scss'
@import '../../public/vendor_components/glyphicons/glyphicon.scss'
@import '../../public/vendor_components/flag-icon/sass/flag-icon'

//Helper classes
@import "helpers"

// Typography
@import "ui/typography"

// UI/Buttons - Кнопки
@import "ui/buttons"

// UI/Input - Поля ввода
@import "ui/inputs"

body
	font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif !important
	border-top: 3px solid #0088cc
	background-color: #e9e9e9
	font-size: 14px
a
	color: #455a64
	&:active,
	&:focus,
	&:hover
		outline: 0
		text-decoration: none
		color: #398bf7
.wrapper_section-content
	width: 1400px
	margin-top: 30px
	margin-left: auto
	margin-right: auto
.header
	position: relative
	background: #ffffff
	&_inner
		height: 94px
	&_logo, &_section-title
		display: inline-block
		vertical-align: middle
	&_logo
		background: url("../img/logo.png")
		width: 167px
		height: 57px
	&_section-title
		font-weight: 400
		line-height: 20px
		font-size: 16px
		color: #DC2B34
		text-transform: lowercase
		margin-left: 10px
	&_user-profile>a>img
		width: 50px
		border-radius: 100%
		margin-right: 10px
.user-profile
	position: relative
	img
		width: 50px
		border-radius: 100%
		margin-right: 10px
.tags
	margin-bottom: 20px
	&>a
		margin-right: 15px
		&:last-child
			margin-right: 0px
.post
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1)
	background: #ffffff
	margin-bottom: 20px
	padding: 20px
	&_title
		width: 90%
		max-width: 90%
		font-weight: 400
	&_date-publish
		font-size: 12px
		color: #8A8A8A
		text-transform: lowercase
	&-body
		position: relative
		&>img+p
			margin-top: 20px
	&-footer
		border-top: 1px solid #D2D7DB
		padding-top: 10px
		margin-top: 25px
@import "sections/sidebar"
@import "sections/login-page"